.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #6B6570;
}

.form-container {
  width: 400px;
  background-color: #F7F0F0;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.add-icon {
  font-size: 4rem;
  cursor: pointer;
  margin-bottom: 20px;
}

.input-field {
  margin-bottom: 10px;
}

.submit-button, .close-button, .remove-button, .add-button {
  padding: 8px 16px;
  background-color: #323232;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 20px;
}

.submit-button:hover {
  background-color: #A8DCD9;
}

.nameOfTable {
  margin-bottom: 10px;
  border-radius: 10px;
  border-color: #BFACC8;
  width: 200px;
  height: 20px;
}

.input-box {
  border-radius: 10px;
  border-color: #BFACC8;
  width: 200px;
  height: 20px;
}

.drop-menu {
  border-radius: 10px;
}

.card {
  background-color: white;
  font-size: 2rem;
  height: 100px;
  width: 100px;
  margin: 20px;
  text-align: center;
  overflow-wrap: break-word;
}


